.fade-slide-up {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  .in-view.fade-slide-up {
    opacity: 1;
    transform: translateY(0);
  }
  